@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
.mat-typography{
 text-align: center;
 font-family: '';
}
.text-header{
  font-family: 'Bebas Neue', cursive;
}
.update-form{
  min-width: 250px;
  width: 100%;
}

.field-full-width{
  width:100%;
}
.update-game{
  margin: 50px 50px 50px 50px;
}
.btn-back{
  width:50%;
}
.btn-submit{
  width:50%;
}
.field-half-width{
  width: 15%;
}