<div>
    <mat-card>
      <mat-card-title>
        <button mat-raised-button color="primary" routerLink="/admin/add_game">Add Game</button>
      </mat-card-title>
      <mat-card-content>
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container  matColumnDef="Title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>
            
            <ng-container matColumnDef="Platform">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Platform </th>
                <td mat-cell *matCellDef="let element"> {{element.platform}} </td>
            </ng-container>
            
            <ng-container matColumnDef="Genre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Genre </th>
                <td mat-cell *matCellDef="let element"> {{element.genre}} </td>
            </ng-container>

            <ng-container matColumnDef="Rating">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Rating </th>
                <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
            </ng-container>

            <ng-container matColumnDef="Publisher">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Publisher </th>
                <td mat-cell *matCellDef="let element"> {{element.publisher}} </td>
            </ng-container>
            
            <ng-container matColumnDef="Release">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Release </th>
                <td mat-cell *matCellDef="let element"> {{element.release}} </td>
            </ng-container>
            
            <ng-container matColumnDef="Status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header > Status </th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>
           
          <tr mat-header-row *matHeaderRowDef="columns_to_display"></tr>   
          <tr mat-row *matRowDef="let row; columns: columns_to_display;"></tr>
          <ng-container matColumnDef="Action">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element">
                <button mat-button color ="primary" (click)= 'editGame(element._id)'  >Update</button> 
                <button mat-button color ="warn" (click) = "deleteGame(element._id)" >Delete</button>  
              </td>
          </ng-container> 
        </table>
        <mat-paginator 
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 25]"
        [showFirstLastButtons]="true">
        </mat-paginator>
      </mat-card-content>
    </mat-card>
  </div>