<div class="player-dashboard">
  <mat-card>
    <mat-card-title>
      <button mat-raised-button color="primary" routerLink="/add_player">Add Player</button>
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container  matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Player </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
          
          <ng-container matColumnDef="ranking">
              <th mat-header-cell *matHeaderCellDef>Ranking </th>
              <td mat-cell *matCellDef="let element"> {{element.ranking}} </td>
          </ng-container>
          
          <ng-container matColumnDef="score">
              <th mat-header-cell *matHeaderCellDef> Score </th>
              <td mat-cell *matCellDef="let element"> {{element.score}} </td>
          </ng-container>
          
         
        <tr mat-header-row *matHeaderRowDef="columns_to_display"></tr>   
        <tr mat-row *matRowDef="let row; columns: columns_to_display;"></tr>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
              <button mat-button color ="primary" (click)="editPlayer(element._id)">Update</button> 
              <button mat-button color ="warn" (click)="deletePlayer(element._id)">Delete</button>  
            </td>
        </ng-container> 
      </table>
    </mat-card-content>
  </mat-card>
</div>
