@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

.title-welcome{
  color:white;
  font-family: 'Bebas Neue', cursive;
  text-align: left;

}
.header-main-page{
  background-color:primary;
}
ul li{
  text-decoration: none;
  list-style: none;
  margin:0;
  padding:0;
}

ul{
  display: flex;
}
.spacer{
  flex:1 1 auto;
}

